In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
#from sklearn.pipeline import make_pipeline
#from imblearn.pipeline import make_pipeline as make_imb_pipeline

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving bank.csv to bank.csv

In [ ]:

df = pd.read_csv('bank.csv',sep=';')

In [ ]:
df.head()

   age          job  marital  education  ... pdays  previous poutcome   y
0   30   unemployed  married    primary  ...    -1         0  unknown  no
1   33     services  married  secondary  ...   339         4  failure  no
2   35   management   single   tertiary  ...   330         1  failure  no
3   30   management  married   tertiary  ...    -1         0  unknown  no
4   59  blue-collar  married  secondary  ...    -1         0  unknown  no

[5 rows x 17 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4521 entries, 0 to 4520
Data columns (total 17 columns):
age          4521 non-null int64
job          4521 non-null object
marital      4521 non-null object
education    4521 non-null object
default      4521 non-null object
balance      4521 non-null int64
housing      4521 non-null object
loan         4521 non-null object
contact      4521 non-null object
day          4521 non-null int64
month        4521 non-null object
duration     4521 non-null int64
campaign     4521 non-null int64
pdays        4521 non-null int64
previous     4521 non-null int64
poutcome     4521 non-null object
y            4521 non-null object
dtypes: int64(7), object(10)
memory usage: 600.5+ KB

In [ ]:
df.shape

In [ ]:
df.describe(include=["object"])
categorical_vars=df.describe(include=["object"]).columns
continuous_vars=df.describe().columns

In [ ]:
categorical_vars

Index(['job', 'marital', 'education', 'default', 'housing', 'loan', 'contact',
       'month', 'poutcome', 'y'],
      dtype='object')

In [ ]:
continuous_vars

Index(['age', 'balance', 'day', 'duration', 'campaign', 'pdays', 'previous'], dtype='object')

In [ ]:
#Fitting categorical data
from sklearn import preprocessing
le = preprocessing.LabelEncoder() 
cols=['job', 'marital', 'education', 'default', 'housing', 'loan', 'contact','month', 'poutcome', 'y']
df[cols]=df[cols].apply(le.fit_transform)
df.head()

In [ ]:
cols1=['age', 'balance', 'day', 'duration', 'campaign', 'pdays', 'previous']
df[cols1]=df[cols1].astype('float')
df.head()

In [ ]:
#standardising continuous variables
from sklearn.preprocessing import StandardScaler
features = df[cols1]
scaler = StandardScaler().fit(features.values)
features = scaler.transform(features.values)
df[cols1] = features
df.head()

        age  job  marital  education  ...     pdays  previous  poutcome  y
0 -1.056270   10        1          0  ... -0.407218 -0.320413         3  0
1 -0.772583    7        1          1  ...  2.989044  2.041734         0  0
2 -0.583458    4        2          2  ...  2.899143  0.270124         0  0
3 -1.056270    4        1          2  ... -0.407218 -0.320413         3  0
4  1.686036    1        1          1  ... -0.407218 -0.320413         3  0

[5 rows x 17 columns]

In [ ]:
*df[cols1].head()

In [ ]:
from sklearn.metrics import confusion_matrix, accuracy_score
from sklearn.model_selection import cross_val_score

y = pd.get_dummies(df['y'], columns = ['y'], prefix = ['y'], drop_first = True)



from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df, y, test_size = 0.1942313295, random_state = 101)





from xgboost import XGBClassifier
xgb = XGBClassifier()
xgb.fit(X_train, y_train)
xgbprd = xgb.predict(X_test)

print(confusion_matrix(y_test, xgbprd ))
print(round(accuracy_score(y_test, xgbprd),2)*100)
XGB = (cross_val_score(estimator = xgb, X = X_train, y = y_train, cv = 10).mean())

/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/label.py:219: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/label.py:252: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

[[778   0]
 [  0 101]]
100.0

/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/label.py:219: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/label.py:252: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [ ]:
XGB

In [ ]:
!pip install pandas==0.23.4

In [ ]:
!pip install pymatch
import warnings
warnings.filterwarnings('ignore')
from pymatch.Matcher import Matcher
import pandas as pd
import numpy as np
%matplotlib inline

In [ ]:
test = df[df.y == 0]
control = df[df.y == 1]
#test['y'] = 1
#control['y'] = 0
test=test.astype('int')

In [ ]:
m=Matcher(test,control,yvar="y",exclude=[])

In [ ]:
np.random.seed(1546468)
m.fit_scores(balance=True, nmodels=100)

In [ ]:
m.predict_scores()

from sklearn.pipeline import make_pipeline
from imblearn.pipeline import make_pipeline as make_imb_pipeline

In [ ]:
m.match(method="min", nmatches=1, threshold=0.0001)
m.record_frequency()

In [ ]:
m = Matcher(test, control, yvar="y", exclude=[])

In [ ]:
df1=m.matched_data.sort_values("match_id").head(6)

In [ ]:
df1.plot(x='age', y='scores')

In [ ]:
df1.plot(x='education', y='scores')

In [ ]:
df1.plot(x='balance', y='scores')

In [ ]:
df1.plot(x='day', y='scores')

In [ ]:
df1.plot(x='campaign', y='scores')

In [ ]:
df1.plot(x='duration', y='scores')

In [ ]:
df1.plot(x='contact', y='scores')